<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="ObjetivoProvaHomologacao" connectionString="Application Name=Objetivo Estudos Administrativo;Data Source=172.16.74.45;Initial Catalog=ObjetivoEstudosV2;Integrated Security=False; User Id=userObjetivoEstudos; Password=3V92zkcpOU;Connect Timeout=3600;Max Pool Size=36000;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>